---
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import Blog from '../components/Blog.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Stats/>
		<Features/>
		<Testimonials/>
		<CallToAction/>
		<div id="waitlist" class="launchlist-widget" data-key-id="wEblyD" data-height="180px"></div>
		<Blog/>
	</main>
</Layout>

<script src="https://getlaunchlist.com/js/widget.js" defer></script>
