---
import Container from "./Container.astro";

---

<footer class="py-20 md:py-40 flex justify-center items-center">
  <Container>
      <div class="text-center">
          <span class="block text-gray-500 dark:text-gray-400">
                <a href="#" class="font-semibold text-gray-600 dark:text-white"> Contact Us: support@clyd.ai</a>
          </span>
      </div>
  </Container>
</footer>
