---
import Container from "./Container.astro"
import Modal from '/Users/jeetbhatkar/Documents/Code/astroClyd/src/components/Modal.jsx'

---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-blue-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-2/3 text-center mx-auto">
                <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Embrace the Future of <span class=" dark:text-white"  style = {{color : '#757596'}}>Consulting.</span></h1>
                <p class="mt-8 text-gray-700 dark:text-gray-300">Clyd offers AI-driven solutions, empowering consultants with tailored insights, streamlined workflows, and a future-focused approach to client success.</p>
                <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                    <a
                      href="#waitlist"
                      class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                    >
                      <button class= "relative text-base font-semibold text-white">Join The Waitlist</button>
                    </a>

                </div>
                <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between">
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Secure From Ground Up</h6>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Blazingly Fast</h6>
                    </div>
                    <div class="text-left">
                        <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Seamlessly Automated</h6>
                    </div>
                </div>
            </div>
            <div class="mt-16 text-center">
                <img src="public/images/gtlog.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" />
            </div>
        </div>
    </Container>
</div>