---
import Container from "./Container.astro"

---

<div class="text-gray-600 dark:text-gray-300" id="reviews">
  <Container>
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        We have some fans.
      </h2>
    </div>
    <div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="public/images/avatars/yashpic.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Yash Bhatkar</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">PM @ Google</p>
          </div>
        </div>
        <p class="mt-8">Since integrating Clyd into our daily operations, our team has seen a dramatic improvement in managing client communications and documents. It's like having an extra set of hands on deck that knows exactly what you need, before you even need it. Clyd has become indispensable for us.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="public/images/avatars/divyampic.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Divyam Gupta</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">PM @ Microsoft</p>
          </div>
        </div>
        <p class="mt-8">Clyd has revolutionized how we handle our workload. The automated deadline tracking and meeting scheduling have freed up so much time, allowing us to focus on higher-value tasks. It's a game-changer for the consulting industry</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-2.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Michael Reeyes</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">SWE @ Apple</p>
          </div>
        </div>
        <p class="mt-8">The interactive dashboard and chatbot feature have made navigating through emails and documents a breeze. Clyd has not only increased our efficiency but also our accuracy in managing client interactions. It's the tool we didn't know we needed, but now can't live without.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="./images/avatars/avatar-3.webp" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Shrey Baid</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">SWE @ Meta</p>
          </div>
        </div>
        <p class="mt-8">What impressed me most about Clyd was its ability to simplify the most complex client communications into manageable actions. The reduction in time spent on manual tasks has been remarkable, making our team more productive and less stressed.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="public/images/avatars/prashantpgog.jpeg" alt="user avatar" width="200" height="200" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Prashant Karanam</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Senior Partner @ EY</p>
          </div>
        </div>
        <p class="mt-8">Integrating Clyd into our workflow has been a seamless experience. Its user-friendly interface and powerful automation capabilities have significantly improved our project management processes. Clyd is truly at the forefront of technological innovation in consulting.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="public/images/avatars/tihsarpgo.jpeg" alt="user avatar" width="400" height="400" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Tushar Belwal</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">Co-Founder of Dhanshakti</p>
          </div>
        </div>
        <p class="mt-8">Clyd has transformed the way we approach our workday. The efficiency in managing emails and scheduling has allowed us to allocate more time to creative and strategic tasks. It's a must-have tool for any consultant serious about maximizing their productivity.</p>
      </div>

    </div>
  </Container>
</div>